<% for(var i = 0; i < filelist.length ; i++){ %>
    Hello World
<% } %>

<a href="/api/print/preview/<%=code%>/<%=filelist[0]%>"><%=filelist[0]%></a>
<br>
<a href="/api/print/preview/<%=code%>/<%=filelist[1]%>"><%=filelist[1]%></a>
<br>
<a href="/api/print/preview/<%=code%>/<%=filelist[2]%>"><%=filelist[2]%></a>
