<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>KNUP</title>
		<meta name="description" content="KNUP" />
		<meta name="keywords" content="SIMPLE AND FAST" />
		<meta name="author" content="Codrops" />
		<!-- <link rel="shortcut icon" href="../favicon.ico"> -->
		<link rel="stylesheet" type="text/css" href="/css/component2.css" />
		<link rel="stylesheet" type="text/css" href="/css/component.css" />
		<link rel="stylesheet" type="text/css" href="/css/button.css" />
		<script src="/js/modernizr.custom.js"></script>
		<script src="/js/loadFile.js"></script>
		<script src="/js/showBanner.js"></script>
		<script type="text/javascript">
			function checkIt(){

				var form = document.write_form;
				if (form.attach_file.value=="")
				{
					alert ("파일을 선택하세요.");
					form.attach_file.focus();
					return false;
				}
				return true;
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div id="splitlayout" class="splitlayout">
				<div class="intro">
					<div class="side side-left">
						<header class="codropsheader clearfix">
							<span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
							<h1>KNU PRINT</h1>
						</header>
						<div class="intro-content">
							<div class="profile"><img src="/img/apply.png" alt="profile1"></div>
							<h1><span>APPLY</span><span>프린트를<br>신청하세요</span></h1>
							<img id="introimg" width="300" height ="100" >
						</div>
						<div class="overlay"></div>
					</div>
					<div class="side side-right">
						<header class="codropsheader clearfix">
							<nav>
								<span style="float: left;"><%= nickname%> 님 반가어용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span>
								
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

								<span><a href="/api/kakao/logout">로그아웃</a></span>
								<!-- <span><a href="https://kauth.kakao.com/oauth/logout?client_id=7e5d1c5a3647aead2c2abadcedbe6754&logout_redirect_uri=http://localhost:3000/KNUP/login">로그아웃</a></span> -->
								
							  </nav>
							
						</header>
						<div class="intro-content">
							<div class="profile"><img src="/img/print.png" alt="profile2"></div>
							<h1><span>PRINT</span><span>신청한 파일을<br>확인하세요.</span></h1>
						
						</div>
						<div class="overlay"></div>
					</div>
				</div><!-- /intro -->
				<div class="page page-right">
					<div class="page-inner">
						<section>
							<h2>Print</h2>
							<h3>List</h3>
							<div>
								<% for(i = 0; i < length ; i++){ %>
									<form name ="print<%=i%>" action='/api/print/preview' method='POST'>
										<input type="hidden" value="<%=i%>" id="idx">
										<input type="hidden" name="storedname" value="<%=storednames[i]%>"/>
										<input type="hidden" name="originalname" value="<%=originalnames[i]%>">
										<input class ="button" value="<%=originalnames[i]%>" onclick="loadFile(idx.value)"/>
									</form>
									<br><br>
								<% } %>
								<br>
							</div>

						</section>
					</div><!-- /page-inner -->
				</div><!-- /page-right -->
				<div class="page page-left">
					<div class="page-inner">
						<section>
							<h2 style="text-align: center;">Apply</h2>
							<form action ="/api/file/upload" method="post" enctype="multipart/form-data" name="write_form" onsubmit="return checkIt()">
								<h2 style="text-align: center;" >Choose your file </h2>
								<div class="wrap">
									<input style="text-align: center;" multiple="multiple" type="file" name="userfile" id="getfile" >
								</div>
								<br><br>								
								<br><br>
								<div class="wrap">
									<button class="button">Submit</button>
								</div>
						  	</form>
						</section>
					</div><!-- /page-inner -->
				</div><!-- /page-left -->
				<a href="#" class="back back-right" title="back to intro">&rarr;</a>
				<a href="#" class="back back-left" title="back to intro">&larr;</a>
			</div><!-- /splitlayout -->
		</div><!-- /container -->
		<script src="/js/classie.js"></script>
		<script src="/js/cbpSplitLayout.js"></script>
	</body>
</html>
